<!-- app/views/room_comments/_edit.html.erb -->

<h1>コメント編集</h1>

<%= form_with(model: [room, comment], local: false) do |form| %>
  <% if comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>
      <ul>
      <% comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content, id: "comment_content_#{comment.id}" %>
  </div>
  
  <div class="actions">
    <%= form.submit "更新する" %>
  </div>
<% end %>
