<%= link_to 'My Recipes', my_recipes_recipes_path %>
<h1>レシピ一覧</h1>

<%= link_to "新しいレシピを投稿する", new_recipe_path, class: "btn btn-primary mb-4" %>

<div class="recipe-container">
  <% @recipes.each do |recipe| %>
    <div class="recipe-card">
      <div class="recipe-info">
        <h5 class="recipe-title"><%= recipe.title %></h5>
        <p class="recipe-comment"><%= recipe.short_comment %></p>
      </div>
      
      <% if recipe.image.present? %>
        <%= image_tag recipe.image.url, class: "recipe-img" %>
      <% else %>
        <p>noimage</p>
      <% end %>
     
      <div class="recipe-link-container">
        <%= link_to "詳細を見る", recipe_path(recipe), class: "recipe-link" %>
      </div>
    </div>
  <% end %>
</div>



<% if current_user && current_user.rooms.any? %>
  <h2>所属しているルーム</h2>
  <ul>
    <% current_user.rooms.each do |room| %>
      <li><%= link_to room.name, room_path(room) %></li>
    <% end %>
  </ul>
<% end %>

<%= link_to 'ホームに戻る', recipes_path %>

