
<%= render 'shared/sidebar' %>


  
  <!-- Actual search box -->
 
  


<%= search_form_for @q, url: recipes_path, method: :get do |f| %>

<div class="search-container">
  <div class="search col-3">

    <div class="input-group">
      <%= f.search_field :title_cont, class: "form-control", placeholder: "タイトル検索" %>
      <div class="input-group-append">
        <%= f.button :submit, class: "btn btn-outline-secondary", value: "" do %>
          <i class="bi bi-search"></i>
        <% end %>
      </div>
    </div>


  <div class="input-group">
    <%= f.collection_select :categories_name_eq, Category.all, :name, :name, {prompt: "カテゴリー検索 ↓" }, { class: "form-control dorop"} %>
    <div class="input-group-append">
      <%= f.button :submit, class: "btn btn-outline-secondary", value: "" do %>
        <i class="bi bi-search"></i>
      <% end %>
  </div>
    </div>
  </div>
</div>
<% end %>




<div class="recipe-container wrapper">
  <% @recipes.each do |recipe| %>
    <div class="recipe-card">
      <div class="recipe-info">
        <h5 class="recipe-title"><%= recipe.title %></h5>
        <p class="recipe-comment"><%= recipe.short_comment %></p>
      </div>
      
      <% if recipe.image.present? %>
        <%= image_tag recipe.image.url, class: "recipe-img" %>
      <% else %>
        <p>noimage</p>
      <% end %>
     
      <div class="recipe-link-container">
        <%= link_to "詳細を見る", recipe_path(recipe), class: "recipe-link" %>
      </div>
    </div>
  <% end %>
</div>



<%= link_to 'ホームに戻る', recipes_path %>








