<h1>MY RECIPES</h1>

<% if @user_recipes.any? %>
 <% @user_recipes.each do |recipe| %>


        <h5 class="recipe-title"><%= recipe.title %></h5>
      <p class="recipe-short-comment"><%= recipe.short_comment %></p>

      <h2>材料</h2>
      <% recipe.cooking_ingredients.each do |ingredient| %>
        <div class="recipe-ingredient">
          <%= ingredient.ingredient_name %> - <%= ingredient.quantity %> <%= ingredient.unit %>
        </div>
      <% end %>
      

      <h2>手順</h2>
      <% recipe.procedures.each do |step| %>
        <div class="recipe-procedure">
          <%= step.procedure_comment %>
        </div>
      <% end %>
        <%= link_to "詳細", recipe_path(recipe) %>

        <%= link_to "Edit", edit_recipe_path(recipe) %>
        <%= link_to "Delete", recipe_path(recipe), method: :delete, data: { confirm: "Are you sure you want to delete this recipe?" } %>

    <% end %>
  </ul>
<% else %>
  <p>You haven't posted any recipes yet.</p>
<% end %>
