<div class="footer_fixed">

<div class="page wrapper">
<h1 class="page_name">レシピ作成</h1>
</div>
<%= form_with(model: @recipe, local: true) do |f| %>
<div class="recipe_new wrapper">
  <div class="recipe_container">

     <div class="image_area">
    <div class="image_box" id="image_preview"></div>
    
    <%= f.file_field :image, class: "image_upload", accept: "image/*" %>
  </div>

<div class="recipe_text_area">
    <div class="recipe_title_text">
      <div class="recipe_title">

        <%= f.text_field :title, class: "title_form", placeholder:"title" %>
      </div>
      <div class= "recipe_quantity">

        <%= f.text_field :tortal_quantity, class: "tortal_quantity_form", placeholder:"出来高" %>
      </div>
    </div>
      <div class="short_comment_area">
       
        <%= f.text_area :short_comment, class: "short_comment_form", placeholder:"一言コメント"  %>
      </div>

 <h3>材料</h3>
<div id="cooking_ingredients">
  <%= f.fields_for :cooking_ingredients do |ingredient| %>
    <div class="ingredient_container">
      <div class="ingredint_area">
        <%= ingredient.text_field :ingredient_name, class: "ingredint_form" %>
      </div>
      <div class="quntity_area">
        <%= ingredient.number_field :quantity, class: "quntity_form" %>
      </div>
      <div class="unit_area">
        <%= ingredient.text_field :unit, class: "unit_form" %>
      </div>
      <button class="trash3" type="button" onclick="removeIngredient(this)">
        <i class="bi bi-trash3"></i>
      </button>
    </div>
  <% end %>
</div>
<button type="button" class="bar_down_btn" id="addIngredient"><i class="bi bi-arrow-bar-down"></i></button>
</div>




</div>

  <h3>作り方</h3>
  <%= f.fields_for :procedures do |step| %>
<div class="procedures_container">
    <div class="pprocedures_area">
    
      <%= step.text_area :procedure_comment, class: "procedures_form" %>
    </div>
  <% end %>

</div>

 <h3 class="sab_text">カテゴリー選択</h3>
<div class="category_area">
  <%= f.collection_select :category_ids, Category.all, :id, :name, {prompt: '選択↓'}, class: "form-control category_form" %>
 
    
  
</div>

<h3 class="sab_text">投稿先選択</h3>
   <h5>一般公開はチェックしてください</h5><h5>ルーム公開の場合はチェックを外してください</h5>
<div class="post_area">

  <div class="public_form">
  <%= f.check_box :public, class: "checkbox" %>

  </div>

  
  <div class="room_form"></div>
  
   <%= f.select :room_id, options_for_select(@user_rooms.pluck(:name, :id), @user_rooms.first.id), { prompt: "" }, class: "form-control room_select" %>

  </div>




<div class="post-btn">

  <%= f.submit "POST", class:"btn" %>
</div>

<% end %>
</div>









</div>
<%= javascript_pack_tag 'recipe_field.js' %>

