<h1>show</h1>




<h1><%= @recipe.title %></h1>
<p><%= @recipe.short_comment %></p>

<% if @recipe.image.present? %>
        <%= image_tag recipe.image.url, class: "recipe-img" %>
      <% else %>
        <p>noimage</p>
      <% end %>


<h2>材料</h2>
<% @recipe.cooking_ingredients.each do |ingredient| %>
  <div>
    <%= ingredient.ingredient_name %> - <%= ingredient.quantity %> <%= ingredient.unit %>
  </div>
<% end %>

<h2>手順</h2>
<% @recipe.procedures.each do |step| %>
  <div>
    <%= step.procedure_comment %>
  </div>
<% end %>

<%# <% unless @recipe.user_id == current_user.id %>
  <% if @favorite.present? %>
    <%= link_to 'お気に入り解除する', favorite_path(id: @favorite.id), method: :delete, class: 'btn btn-danger' %>
  <% else %>
    <%= link_to 'お気に入りする', favorites_path(recipe: @recipe.id), method: :post, class: 'btn btn-primary' %>
  <% end %>
<%# <% end %>
<%= link_to "一覧に戻る", recipes_path, class: "btn btn-secondary" %>
