<!-- app/views/rooms/new.html.erb -->


<div class="footer_fixed">
<div class="room_new wrapper">
<%= form_with(model: @room, local: true) do |f| %>
<% if @room.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@room.errors.count, "error") %> prohibited this room from being saved:</h2>
      <ul>
        <% @room.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="room_name">
   
    <%= f.text_field :name, class: "text_field" %>
  </div>

  <div class="move-btn">

  <%= f.submit "Create Room", class: "btn", placeholder:'name'  %>
<% end %>
  </div>
</div>

</div>