<!-- room/show.html.erb -->
<h1><%= @room.name %> のルームページ</h1>

<h2>メンバー一覧</h2>
<% if @members.any? %>
  <ul>
    <% @members.each do |member| %>
      <li><%= member.name %></li>
    <% end %>
  </ul>
<% else %>
  <p>メンバーはいません。</p>
<% end %>

<h2>投稿されたレシピ検索</h2>
<%= search_form_for @q, url: room_path(@room), method: :get do |f| %>
  <div class="field">
    <%= f.label :title_cont, 'タイトル検索' %>
    <%= f.search_field :title_cont %>
  </div>
  <div class="field">
    <%= f.label :categories_name_eq, 'カテゴリー検索' %>
    <%= f.collection_select :categories_name_eq, Category.all, :name, :name, include_blank: true %>
  </div>

  <%= f.submit '検索' %>
<% end %>
<!-- ルームに投稿されたレシピを表示 -->
<h2>投稿されたレシピ一覧</h2>
<% if @recipes.any? %>
  <ul>
    <% @recipes.each do |recipe| %>
      <% if @room.users.include?(recipe.user) && !recipe.public? %>
        <li>
          <h3><%= recipe.title %></h3>
          <p><%= recipe.short_comment %></p>

          <h4>材料</h4>
          <% recipe.cooking_ingredients.each do |ingredient| %>
            <div>
              <%= ingredient.ingredient_name %> - <%= ingredient.quantity %> <%= ingredient.unit %>
            </div>
          <% end %>

          <h4>手順</h4>
          <% recipe.procedures.each do |step| %>
            <div>
              <%= step.procedure_comment %>
            </div>
          <% end %>

          <%= link_to "詳細を見る", recipe_path(recipe) %>
          <%= link_to "編集", edit_recipe_path(recipe) %>
        </li>
      <% end %>
    <% end %>
  </ul>
<% else %>
  <p>まだレシピが投稿されていません。</p>
<% end %>




<p>comment</p>
 <div id="comments_area">
    <!-- 投稿されたコメント一覧をブログの詳細ページに表示するためのrender -->
    <%= render partial: 'room_comments/index', locals: { comments: @comments, room: @room } %>
  </div>

  <!-- コメント入力欄をブログの詳細ページに表示するためのrender -->
  <%= render partial: 'room_comments/form', locals: { comment: @comment, room: @room } %>




<!-- カレンダー表示 -->
<%= month_calendar events: @tasks, start_date: Date.today, click_day: room_tasks_path(@room, date: '%{day}') do |date, tasks| %>
  <%= date.day %>
  <% tasks.each do |task| %>
    <p><%= link_to task.title, room_task_path(@room, task) %></p>
   
  <% end %>
<% end %>



<!-- タスク投稿フォーム -->
<h2>タスクの投稿</h2>
<%= form_with(model: [@room, Task.new]) do |form| %>
  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>

  <div class="field">
    <%= form.label :start_time, '開始日時' %>
    <%= form.datetime_local_field :start_time %>
  </div>

  <%= form.submit '投稿' %>
<% end %>









 
<%= link_to 'ホームに戻る', recipes_path %>
