
<%= render 'shared/sidebar' %>


<div class="footer_fixed">
  <%= form_with(model: Category.new, url: categories_path, local: true) do |f| %>
    <div class="form-group">
      <%= f.label :name, "新しいカテゴリー名" %>
      <%= f.text_field :name, class: "form-control" %>
    </div>
    <%= f.submit "作成", class: "btn btn-primary" %>
  <% end %>

  <h1>カテゴリー一覧</h1>
  <% @categories.each do |category| %>
    <p><%= category.name %></p>
    
  <% end %>
</div>
</div>